<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body lang="{{ .Site.Params.Lang }}">

<section class="header">
    <div class="container">
        <div class="content">
                <a href="/"><img src="mountain.jpeg"></img><div class="name">
                        {{ .Site.Params.Author }}</div></a>
            <nav>
                <ul>
                    <a href="/prose/" ><li>Prose</li></a>
                    <a href="/poetry/"><li>Poetry</li></a>
                    <a href="/blog"><li>Blog</li></a>
                    <a href="/music/"><li>Music</li></a>
                    <a href="https://www.instagram.com/thewizardofossington/" target="_blank"><li>Instagram</li></a>
                    <a href="https://github.com/ColinAFerguson/"><li>Github</li></a>
                    <a href="fixed/about"><li>About Me</li></a>
                    <a href="fixed/contact"><li>Contact Me</li></a>
                </ul>
            </nav>
        </div>
</div>
</section>
