<form  action="https://formspree.io/colin.ferguson86@gmail.com" method="POST">
        <div>
                <div class="">
                        <input type="text" name="name" placeholder="Name" />
                </div>
                <div class="">
                        <input type="email" name="_replyto" placeholder="Email" />
                </div>
                <div class="">
                        <input type="text" name="subject" placeholder="Subject" />
                </div>
                <div class="">
                        <textarea name="message" placeholder="Message" rows="8"></textarea>
                </div>
                <div class="">
                        <input type="submit" value="Send Message" />
                </div>
        </div>
</form>
